body{
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.todo-create {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.todo-input {
  border: 1px solid rgb(50, 49, 49);
  width: 700px;
  padding: 10px 15px;
  border-radius: 3px;
  outline: none;
  transition: border 0.5s ease;
}

.todo-input:hover{
  border: 1px solid rgb(16, 101, 192);
  
}

.todo-input:active {
  border: 1px solid rgb(16, 101, 192);
}

.todo-btn {
  padding: 10px 30px;
  margin-left: 10px;
  border-radius: 3px;
  border: none;
  background-color: rgb(16, 101, 192);
  color: rgb(227, 225, 225);
  transition: background-color 0.5s ease;
  font-weight: 700;
}

.todo-btn:hover{
  cursor: pointer;
  opacity: 0.8;
  outline: none;
}

